
body{ 
    font-family: Arial, Verdana;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{ 
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-style: dashed;
    border-width: 10px;
    border-color: white;

}

div{
    height: 250px;
    padding: 20px;
    /* border-style: solid; */
    /* border-width: 3px; */
    /* border-color: white; */
    border: 3px solid white;
    /*border: 2px solid #ff0000; maybe this is how i am supposed to format it*/

}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-left: 5px;
    border-bottom: 2px;
    /* this might be doing it to the wrong side*/
    
}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 5px;
    border-top: 2px;
    
    /* this might be doing it to the wrong side, also change the color contrast here change it back to the border right*/
}

.yellow{
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px;
    border-left: 5px;
    /* this might be doing it to the wrong side, also change the color contrast here*/
}

.green{
    background-color: #00d800;
    text-align: left;
    margin-right: 50px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 5px;
    border-top: 2px;
}

footer{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border-style: solid;
    border-width: 5px;
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}






